.root{
-fx-background-color: #111111;
}

.text-field{
-fx-border-radius:25px;
}

.label{
-fx-min-width: 20;
-fx-font-family: "Times New Roman";
-fx-text-fill: "White";
-fx-alignment: center;
}
.button{
-fx-pref-width:100px;
-fx-background-color: White;
-fx-text-fill: Black;
-fx-border-radius:25px;
}

.line{
-fx-background-color: Grey;
-fx-text-fill: Grey;
}

#titleLabel{
-fx-font-size:20;
-fx-alignment: center;
}